{%extends 'base.html'%}
{%block content%}
    <div class="row">
        {%if perfil.profile_picture%}
        <div class = "col-md-6">
            <img src="{{perfil.profile_picture.url}}" class="img-fluid rounded w-50">
        </div>
        {%else%}
        <div class = "col-md-6">
            <img src="/static/images/default-profile-picture.jpg" class="img-fluid rounded w-50">
        </div>
        {%endif%}

        

        <div class = "col-md-6">
            <h3> {{perfil.username}}</h3>
            <p> {{perfil.bio}}</p>
        </div>
    </div>
    {% if user.is_authenticated and user.id == perfil.id %}
    <div class="row">
        <a href="{% url 'users:editar_perfil' user_id=user.id %}" class="btn btn-primary">
            <i class="fas fa-edit me-1"></i> Editar perfil
        </a>
    </div>
{% endif %}
    

{%endblock%}