{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'posts:post_form'%}">
            <h3>Crear nueva Publicacion</h3>
        </a>

    </div>
</div>
<div class="row"> 
    {%for publicacion in publicaciones%} 
    <div class="row">
        <div class="col-md-1">
            {% if publicacion.author.profile_picture %}
                <img 
                    src="{{ publicacion.author.profile_picture.url }}" 
                    class="rounded-circle border border-white shadow" 
                    style="width: 50px; height: 50px; object-fit: cover;"
                    alt="Foto de perfil del usuario"
                >
            {% else %}
                <img 
                    src="/static/images/default-profile-picture.jpg"
                    class="rounded-circle border border-white shadow" 
                    style="width: 50px; height: 50px; object-fit: cover;"
                >
            {% endif %}
        </div>
        <div class="col-md-11 border-bottom mb-3">
      <div class="card-body">
        <a href="{% url 'posts:publicacion' publicacion.id %}">
            <h5 class="card-title">{{ publicacion.title }}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-body-secondary">
            <a href="{% url 'users:perfil_usuario' user_id=publicacion.author.id %}">{{ publicacion.author }} </a> / {{ publicacion.created }}
        </h6>
        <!-- Mostrar imagen solo si existe -->
        {% if publicacion.image %}
            <div class="mb-3">
                <img 
                    src="{{ publicacion.image.url }}" 
                    alt="Imagen de {{ publicacion.title }}" 
                    class="img-fluid rounded w-50"
                >
            </div>
        {% endif %}
        <p class="card-text">{{ publicacion.content }}</p>
      </div>
    </div> 

    </div>
    
    {% endfor %}

    
</div>
{% endblock %}

{% block extra_js %}
<script>
// JS específico para esta página
console.log("Página de inicio cargada");
</script>
{% endblock %}